# Maven
**/target/
*.jar
*.war
*.ear
*.log

# Java
*.class

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# Mac OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Application Secrets (local)
.secrets
# .env
