version: '3'

services:
  # Vault container
  vault:
    image: vault:1.11.2
    container_name: ${VAULT_HOST}
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=${VAULT_DEV_ROOT_TOKEN_ID}
    ports:
      - "8200:8200"
    cap_add:
      - IPC_LOCK
  # Postgres container
  db:
    image: postgres:15
    container_name: postgres
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
  # pgadmin container
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - db
  # Spring Boot application containers
  spring-app-v1:
    build: 
      context: ./spring-app
      dockerfile: dockerfile
    container_name: spring-app-v1
    environment:
      # Spring Profile
      # - SPRING_PROFILES_ACTIVE=prod
      # Environment variables for Vault (used for entrypoint.sh)
      - VAULT_API_PATH=${VAULT_API_PATH}
      - VAULT_APP_CODE=${VAULT_APP_CODE}
      - VAULT_ENV=${VAULT_ENV}
      - VAULT_SECRET_NAME=${VAULT_SECRET_NAME}
      # Postgres
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_DB=${POSTGRES_DB}
      # Vault Auth (Spring Cloud Vault)
      - VAULT_ADDR=${VAULT_ADDR}
      - VAULT_ROLE_ID=${VAULT_ROLE_ID}
      - VAULT_SECRET_ID=${VAULT_SECRET_ID}
    depends_on:
      - db
      - vault
    ports:
      - "8080:8080"
  spring-app-v2:
    build: 
      context: ./spring-app
      dockerfile: dockerfile.v2
    container_name: spring-app-v2
    environment:
      # Spring Profile
      # - SPRING_PROFILES_ACTIVE=prod
      # Postgres
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_DB=${POSTGRES_DB}
      # Vault Auth (Spring Cloud Vault)
      - VAULT_ADDR=${VAULT_ADDR}
      - VAULT_ROLE_ID=${VAULT_ROLE_ID}
      - VAULT_SECRET_ID=${VAULT_SECRET_ID}
    depends_on:
      - db
      - vault
    ports:
      - "8081:8080"
