spring:
  application:
    name: vault-demo
  # Spring Config
  config:
    import: vault://
  # Spring Cloud Vault
  cloud:
    vault:
      uri: ${VAULT_ADDR:http://localhost:8200}
      authentication: APPROLE
      app-role:
        role-id: ${VAULT_ROLE_ID}
        secret-id: ${VAULT_SECRET_ID}
      kv:
        enabled: false
      database:
        enabled: true
        role: ${VAULT_DATABASE_ROLE}
        backend: ${VAULT_DATABASE_BACKEND}

  # Database Configuration (PostgreSQL)
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:5432/${POSTGRES_DB:test}
    # username and password will be provided by Spring Cloud Vault
    driver-class-name: org.postgresql.Driver

  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # Vault Configuration
  cloud:
    vault:
      uri: ${VAULT_ADDR:http://localhost:8200}
      authentication: APPROLE
      app-role:
        role-id: ${VAULT_ROLE_ID}
        secret-id: ${VAULT_SECRET_ID}
      database:
        enabled: true
        role: ${VAULT_DATABASE_ROLE}
        backend: ${VAULT_DATABASE_BACKEND}

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operations-sorter: alpha
    tags-sorter: alpha
    display-request-duration: true
    doc-expansion: none
  show-actuator: true

# Activate log TRACE
logging:
  level:
    org.springframework.web.client: TRACE
    org.springframework.cloud.vault: TRACE

# Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    env:
        show-values: ALWAYS
